#!/bin/bash
# ~/.aliases

alias vi='nvim'
alias n='nnn -e'
alias bat='nvim -R'
alias ls='exa -F'
alias lsa='exa -Fa'
alias l='exa -Fhl --git'
alias la='exa -Fhla --git'
alias tree='exa -TFh --git -I ".git"'

g() {
    local arg="$1"
    shift
    case "$arg" in 
        a) git add "$@" ;;
        b) git branch "$@" ;;
        c) git commit "$@" ;;
        d) git diff "$@" ;;
        h) git stash "$@" ;;
        i) git init "$@" ;;
        k) git checkout "$@" ;;
        l) git pull "$@" ;;
        m) git merge "$@" ;;
        n) git clone "$@" ;;
        o) git log --oneline -n 20 --graph "$@" ;;
        p) git push "$@" ;;
        r) git reset "$@" ;;
        s) git status -s "$@" ;;
        t) git remote "$@" ;;
        v) git revert "$@" ;;
        w) git show "$@" ;;
        *) git "$@"
    esac
}
