#!/bin/sh
# ~/.aliases

alias vi='nvim'
alias n='nnn -e'

alias ls='exa -F'
alias lsa='exa -Fa'
alias l='exa -Fhl --git'
alias la='exa -Fhla --git'
alias tree='exa -TFh --git -I ".git"'

alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gd='git diff'
alias gh='git stash'
alias gi='git init'
alias gk='git checkout'
alias gl='git pull --recurse-submodules'
alias gm='git merge'
alias gn='git clone --recursive'
alias go='git log --oneline -n 20 --graph'
alias gp='git push'
alias gr='git reset'
alias gs='git status -s'
alias gt='git remote'
alias gv='git revert'
alias gw='git show'
