html {
  font-size: 500%;
  font-family: ui-serif, serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #171717;
    color: #e5e5e5;
  }
}

main {
  margin-top: 1.1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
